body{
    background: linear-gradient(to right, rgb(20, 147, 220), rgb(17, 54, 71));
}

.container, justify-content-center, align-items-center{
    background:#f8f9fa;
    border: 10px solid #f8f9fa;
    border-radius: 20px;
}

.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10pt;
    font-size:x-large;

}

.form-container {
    width: 100%;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}


